:root {
  --clr-primary-500: hsl(180, 29%, 50%);
  --clr-neutral-100: hsl(180, 52%, 96%);
  --clr-neutral-300: hsl(180, 31%, 95%);
  --clr-neutral-500: hsl(180, 8%, 52%);
  --clr-neutral-700: hsl(180, 14%, 20%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--clr-neutral-300);
  font-family: "League Spartan", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

h1 {
  font-size: 1.3rem;
  color: var(--clr-primary-500);
}

h2 {
  font-size: 1.4rem;
  color: #ffffff;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1.5rem;
  color: var(--clr-neutral-700);
}

.header {
  background: url("../images/bg-header-mobile.svg") var(--clr-primary-500);
  height: 15.6rem;
}

.filter-container {
  display: none;
  align-items: center;
  padding: 2rem;
  background-color: white;
  width: 87%;
  border-radius: 5px;
  min-height: 7.2rem;
  margin-top: -3.6rem;
  margin-left: auto;
  margin-right: auto;
}

.clear-button {
  margin-left: auto;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--clr-neutral-500);
}

.filter-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.filter-box .filter-card {
  display: flex;
  align-items: center;
  height: 3.2rem;
  background-color: hsla(180deg, 29%, 50%, 0.103);
  border-radius: 4px;
}
.filter-box .filter-card__title {
  font-size: 1.6rem;
  margin: 0.7rem;
  color: var(--clr-primary-500);
}
.filter-box .filter-card .icon-box {
  background-color: var(--clr-primary-500);
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.2rem;
  width: 3.2rem;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.filter-box .filter-card .icon-box .remove-icon {
  width: 1.4rem;
  height: 1.4rem;
}

.job-card {
  background-color: #ffffff;
  border-left: var(--clr-primary-500) solid 5px;
  border-radius: 5px;
  width: 87%;
  margin: 5.6rem auto 4rem auto;
  height: 25rem;
  padding: 0 2.4rem 2.4rem 2.4rem;
}
.job-card .company-logo img {
  margin-top: -2.4rem;
  margin-bottom: 0.8rem;
  width: 4.8rem;
  height: 4.8rem;
}

.job-header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.job-header__heading {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.job-header__heading .new {
  background-color: var(--clr-primary-500);
  border-radius: 12px;
  padding: 0.6rem 0.8rem 0.4rem;
}
.job-header__heading .featured {
  background-color: var(--clr-neutral-700);
  border-radius: 12px;
  padding: 0.6rem 0.8rem 0.4rem;
}

.job-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #B7C4C4;
}
.job-info h3 {
  font-weight: 500;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}
.languages__card {
  display: flex;
  align-items: center;
  background-color: hsla(180deg, 29%, 50%, 0.103);
  color: var(--clr-primary-500);
  height: 3.2rem;
  padding: 0.5rem 1rem;
  overflow: hidden;
  vertical-align: center;
}

.circle {
  background-color: #B7C4C4;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 100px;
}

.line {
  background-color: #B7C4C4;
  height: 1px;
  width: 100%;
  margin: 1.5rem 0;
}

/*# sourceMappingURL=style.css.map */
